*{
    box-sizing: border-box;
    gap:10px;
    margin: 0px;
    padding: 0px;
}
:root{
    --main-blue: #001f3f;
}
.content{
    gap: 0px;
    display: flex;
    flex-direction: column;
}
.header,
.footer{
    width: 100%;
    padding: 1rem;
    background-color: var(--main-blue);
    color: white;
}
.footer{
    margin-top:auto; 
    
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(185, 185, 185);
    height: 100vh;
    width: 100vw;
}
.inputs{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: rgb(255, 255, 255);
}
.display,
.inputs{
    margin-left: 1rem;
    margin-top: 1rem;
    
}
.info{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.display{
    margin-right: 1rem;
    height: 55rem; 
    width: 48.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 7fr;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}
.nameD{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size:3rem;
    
    display: flex;
    gap: 10px;
}
.resumeContent{
    font-size: small;
}
.experienceCardD{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}
.contactD{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    
}
.sideBar{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/-1;
}
.contactCardD{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    color: white;
    background-color: var(--main-blue);
    grid-column-end: span 2;
}
.experience{
    
    display: flex;
    flex-direction: column;
}
.experienceD,
.education{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 4fr;
}
.expCardD{
    padding-left: 1rem;
    
    width: 100%;
    display: grid;
    grid-template-columns: .5fr .1fr .5fr 4fr;
}
.expHeader{
    grid-column: 1/-1;
    border-bottom: 1px black solid;
}

.deleteExp{
    background-color: rgb(139, 139, 139);
    height: 2rem;
    margin-bottom: 1rem;
    border: 0px solid black;
    border-radius: 2px;
}
.deleteExp:hover{
    background-color: rgb(196, 196, 196);
}
